*{
    background-color: black;
}
.todo-container{
    background: black;
    width: 100vw;
    margin: auto;
    /* border-radius: 10px; */
    padding: 15px;
    color: rgb(211, 3, 3);
}
.header{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.input-container{
    background: black;
    padding: 0.5em;
    border-radius: 1em;
}
.input{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 1px;
    border-radius: 1em;
    padding:.5em;
    margin: 1em;
    width: 88%;
}
.add-btn{
    border-radius: 5px;
    font-size: 2em;
    margin: 2px;
    padding: 0px 15px;
    border: none;
    cursor: pointer;
    color: rgb(220, 2, 2);
    background-color:rgb(252, 249, 249);
}
.list-tasks{
    font-size: 1.25em;
    font-weight: bold;
    /* font-style: italic; */
    color: white;
    background-color: black;
    padding: 0.5px;
    margin: 0.5em;
}
.delete-btn{
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: black;
    float: right;
    background-color: white;
}
